---
import resume from "../assets/resume.pdf";
---

<header>
  <div class="m-4 flex flex-row justify-between tracking-wider">
    <a href="/">JOE.NGYN</a>
    <div class="flex justify-end gap-3">
      <a href="/">work</a>
      <a href="/about">about</a>
      <a target="_blank" href={resume}>resume</a>
    </div>
  </div>
  <div class="mx-4 border-t-2 border-black"></div>
</header>

<style></style>
