---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import logo from "../assets/circle.png";
import resume from "../assets/resume.pdf";
---

<header class="fixed top-0 z-40 w-full bg-lightGray">
  <div class="flex flex-row items-center justify-between p-4 tracking-wider">
    <!-- Name -->
    <a class="md:hidden" href="/">JOE.<br />NGYN</a>
    <a class="hidden md:block" href="/">JOE.NGYN</a>
    <!-- Mobile Menu Button -->
    <div class="menu-button space-y-1 md:hidden">
      <div class="h-1 w-6 bg-black"></div>
      <div class="h-1 w-6 bg-black"></div>
      <div class="h-1 w-6 bg-black"></div>
    </div>
    <!-- Menu Links -->
    <div class="hidden items-center justify-end gap-3 md:flex">
      <a href="/">work</a>
      <a href="/about">about</a>
      <a target="_blank" href={resume}>resume</a>
      <a href="mailto:joe.ngyn7@gmail.com" class="hidden md:block">
        <Button
          text="Contact"
          type="button"
          className="text-[12px] font-bold uppercase tracking-widest"
        />
      </a>
    </div>
    <!--  Logo -->
    <div class="absolute inset-0 z-[-1] flex items-center justify-center">
      <Image
        src={logo}
        alt="logo"
        class="hidden h-10 w-10 opacity-0 transition-opacity duration-1000 ease-in-out"
        id="logoHeader"
      />
    </div>
  </div>
  <div class="mx-4 border-t-2 border-black"></div>
</header>

<style></style>

<script>
  // Open Mobile Menu
  const menuButton = document.querySelector(".menu-button");

  if (menuButton) {
    menuButton.addEventListener("click", () => {
      const mobileMenu = document.querySelector(".mobile-menu");
      if (mobileMenu) {
        mobileMenu.classList.remove("hidden");
      }
    });
  }
</script>
