---
// Component Script (JavaScript)
---

<header>
  <div class="m-4 flex flex-row justify-between tracking-wider">
    <a href="/">JOE.NGYN</a>
    <div class="flex justify-end gap-3">
      <a href="/">work</a>
      <a href="/about">about</a>
      <a href="/resume">resume</a>
    </div>
  </div>
  <div class="mx-4 border-t-2 border-black"></div>
</header>

<style>
  /* a {
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px black;
  }

  .header-left {
    display: flex;
    gap: 10px;
  }

  .header-left a {
    text-decoration: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
  }

  .header-right {
    display: flex;
    gap: 10px;
  }

  .header-right a img {
    width: 24px;
    height: 24px;
  } */
</style>
