---
// Component Script (JavaScript)
---

<header>
  <div class="header-left">
    <a href="/">Projects</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
  <div class="header-middle">
    <img src="" alt="Logo" />
  </div>
  <div class="header-right">
    <a href="https://github.com/joengyn" target="_blank"
      ><img src="github-icon.svg" alt="GitHub" /></a
    >
    <a href="https://www.linkedin.com/in/joengyn" target="_blank"
      ><img src="linkedin-icon.svg" alt="Linkedin" /></a
    >
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px black;
  }

  .header-left {
    display: flex;
    gap: 10px;
  }

  .header-left a {
    text-decoration: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
  }

  .header-right {
    display: flex;
    gap: 10px;
  }

  .header-right a img {
    width: 24px;
    height: 24px;
  }
</style>
