---
import WaveLottie from "../components/WaveLottie";
---

<div class="absolute top-0 rotate-180">
  <WaveLottie client:only />
</div>
<div class="absolute bottom-0">
  <WaveLottie client:only />
</div>

<style></style>
