---
import { Image } from "astro:assets";
import iphone from "../assets/iphone.png";

const { image } = Astro.props;
---

<div class="relative">
  <!-- <Image
    src={iphone}
    alt="iPhone mockup"
    class="absolute z-10 h-auto opacity-50"
  /> -->
  <img src={image.src} alt="Login gif" class="" />
</div>
