---
import { Image } from "astro:assets";

interface Props {
  href: string;
  title: string;
  body: string;
  bgImg: ImageMetadata;
}

const { href, title, body, bgImg } = Astro.props;
---

<div>
  <a href={href}>
    <div class="h-full border-2 border-black shadow-[5px_5px_2px_1px_darkGray]">
      <div
        class="relative aspect-square overflow-hidden border-b-2 border-black"
      >
        <Image
          class="absolute inset-0 h-full w-full object-cover"
          src={bgImg}
          alt="Background image"
        />
      </div>
      <div class="flex flex-col justify-between p-4">
        <div class="mb-2 text-lg">
          {title}
        </div>
        <p class="mb-2">{body}</p>
        <div class="">View Project</div>
      </div>
    </div>
  </a>
</div>
