---
interface Props {
  href: string;
  title: string;
  body: string;
}

const { href, title, body } = Astro.props;
---

<div class="mb-10">
  <a href={href}>
    <div class="border-2 border-black">
      <div class="aspect-square border-b-2 border-black bg-white"></div>
      <div class="grid p-4">
        <div class="mb-2 text-lg">
          {title}
        </div>
        <p>{body}</p>
      </div>
    </div>
  </a>
</div>
