---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";

import profileImg from "../../public/profile-img.jpeg";
---

<Layout title="about page" isAbout={true}>
  <main class="mt-[80px]">
    <div class="wrapper">
      <Image src={profileImg} alt="profile photo" class="mb-10" />
      <h2 class="mb-10">Hi, I'm Joe.</h2>
      <p class="mb-10">
        A designer and engineer passionate about crafting intuitive and
        impactful digital experiences, currently based in Boulder, CO. ⛰️⛰️⛰️
      </p>
      <p class="mb-10">
        With a background in <span class="font-bold">UX/UI design</span>, <span
          class="font-bold">human-centered research</span
        >, and <span class="font-bold">product engineering</span>, I specialize
        in creating seamless interactions between people and technology.
      </p>
      <p class="mb-10">
        Beyond crafting digital experiences, I love bringing ideas to life in
        the physical world through 3D modeling and printing-- whether functional
        or purely artistic.
      </p>
      <p class="mb-10">
        As a lifelong learner and maker, I’m always exploring new techniques and
        pushing my skills to new heights. I’m a problem solver at heart, ready
        to tackle challenges and help bring your ideas to life.
      </p>
    </div>
  </main>
</Layout>

<style></style>
