---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

import profileImg from "../assets/profile-img.jpeg";
---

<Layout title="about page">
  <Header />
  <main>
    <div class="wrapper">
      <Image src={profileImg} alt="profile photo" class="mb-10" />
      <h2>About me</h2>
      <p class="mb-10">
        I’m a Product Designer with a B.S. in Mechanical Engineering, bringing
        experience from industries like medical devices, mobile commerce, and
        enterprise robotics. My work spans from running clinical usability
        studies to developing comprehensive UI design systems.
      </p>
      <p class="mb-10">
        When I'm not working, you can find me out running on the trails and
        scrambling up a rock face or making music in my bedroom and hanging with
        my cats.
      </p>
    </div>
  </main>
</Layout>

<style></style>
