---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="about page">
  <main>
    <Header />
    <div class="about-wrapper">
      <div>I love making things, and making things better.</div>
      <img src="" alt="profile photo" />
      <div>Hi, my name is Joe. </div>
      <p>
        I have always loved creating things, so I decided to study Mechanical
        Engineering in order to better understand the physical world and allow
        me more options in my endeavors.
      </p>
      <p>
        After graduating I worked in the product development field, building
        medical devices and user testing them. I loved the feeling of
        discovering user pain points and using that knowledge to further improve
        and iterate on the designs. What was even better though was seeing the
        delight in peoples' eyes when using the devices and knowing that what I
        was working on would have a real world impact.
      </p>
      <p>
        I soon pivoted into User Experience Design as it is the perfect field
        where I can combine so many of my interests and skills and ultimately
        have a bigger impact on end users. Specifically, I am fascinated with
        emerging tech due to the power it has to change how people see and
        interact with the world around them. With the growing role of technology
        in our lives, I want to help ensure the experiences people have with it
        is as intuitive, ethical and empowering as possible.
      </p>
      <p>
        I am extremely curious about most things and love to hear people talk
        about their passions and hobbies. I believe being curious is the first
        step in being creative so I am always on the search for where my next
        inspirational spark will come from.
      </p>
      <div class="skills-table">
        <div>
          <div>Design Tools:</div>
          <div>Figma 路 Adobe XD 路 Sketch 路 Photoshop</div>
        </div>
        <div>
          <div>Design Knowledge:</div>
          <div>Figma 路 Adobe XD 路 Sketch 路 Photoshop</div>
        </div>
        <div>
          <div>Development Tools:</div>
          <div>HTML5 路 CSS3 路 JavaScript 路 React 路 Sass 路 Github</div>
        </div>
        <div>
          <div>User Research Methods:</div>
          <div>
            Usability Testing 路 Diary Studies 路 Surveys 路 A/B Testing 路 Card
            Sorting 路 Moderated & Unmoderated 路 Remote Testing
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .skills-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
</style>
