---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';

import profileImg from '../../public/profile-img.jpeg';
---

<Layout title='about page' isAbout={true}>
  <main class='mt-[80px]'>
    <div class='wrapper'>
      <Image src={profileImg} alt='profile photo' class='mb-10' />
      <h2 class='mb-10 text-center'>Hi, I'm Joe.</h2>
      <p>
        A designer and engineer passionate about crafting intuitive and
        impactful digital experiences, currently based in Boulder, CO. ⛰️⛰️⛰️
      </p>
      <p>
        With a background in <b>UX/UI design</b>, <b>human-centered research</b
        >, and <b>product engineering</b>, I specialize in bridging the gap
        between people and technology. My work spans industries from medical
        devices and robotics to consumer applications, where I create seamless,
        user-focused solutions.
      </p>
      <p>
        Beyond digital design, I love bringing ideas to life physically through
        3D modeling and printing—whether for functional prototypes or artistic
        creations.
      </p>
      <p>
        As a lifelong learner and maker, I’m always exploring new techniques and
        pushing my skills further. I thrive on solving problems and turning
        ideas into reality. Let’s build something great together.
      </p>
    </div>
  </main>
</Layout>

<style></style>
