---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="contact page">
	<main>
		<Header />
		<div class="contact-wrapper">
			<span>contact page</span>
		</div>
	</main>
</Layout>

<style>
	
</style>