---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="grammaroke case study">
	<main>
		<Header />
		<div class="intro">
			<span>grammaroke case study</span>
		</div>
	</main>
</Layout>

<style>
	
</style>
