---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Welcome to joengyn portfolio.">
  <Header />
  <main>
    <div class="text-wrapper">
      <div>Hi, I'm Joe. Designer | Maker | Creative</div>
      <p>
        I am a UX & Product Designer with a background in Mechanical Engineering
        and Product Development. I am passionate about emerging technologies and
        empowering people to achieve their goals.
      </p>
    </div>
    <ProjectCard
      href="/grammaroke"
      title="Grammaroke"
      body="Language learning web app. Study and sing along to your favorite songs."
    />
    <ProjectCard
      href="/cosplaycloset"
      title="Cosplay Closet"
      body="Social platform for cosplayers to connect and share projects"
    />
    <ProjectCard
      href="/berkshiregrey"
      title="Berkshire Grey"
      body="Case study for BG"
    />
    <ProjectCard href="/toast" title="Toast" body="Case study for Toast" />
  </main>
</Layout>

<style>
  main {
    /* display: flex;
		flex-direction: column; */
  }

  .intro {
    margin: 40px 0px;
  }
</style>
