---
import { Image } from "astro:assets";
import ensoCircle from "../images/enso-circle.svg";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="Welcome to joengyn portfolio.">
  <Header />
  <main class="mx-6">
    <div class="my-12 grid grid-cols-2">
      <div class="self-center">
        <div class="mb-4 text-3xl font-bold">Hi, I'm Joe</div>
        <p class="max-w-44 text-lg">
          A designer who enjoys bringing together people and technology.
        </p>
      </div>
      <Image class="" src={ensoCircle} alt="enso circle" />
    </div>
    <ProjectCard
      href="/berkshiregrey"
      title="Berkshire Grey"
      body="Designing HMI's (Human Machine Interface) for AI-Enabled Enterprise Robotics"
    />
    <ProjectCard
      href="/toast"
      title="Toast"
      body="Designing a new mobile QR code based restaurant service product."
    />
    <ProjectCard
      href="/grammaroke"
      title="Grammaroke"
      body="Language learning web app. Study and sing along to your favorite songs."
    />
    <ProjectCard
      href="/cosplaycloset"
      title="Cosplay Closet"
      body="Designing a social media platform for cosplayers to connect and share projects."
    />
  </main>
</Layout>
