---
import Layout from "../layouts/Layout.astro";
import EnsoLottie from "../components/EnsoLottie";
import WaveLottie from "../components/WaveLottie";
---

<Layout title="loading">
  <div class="bg-lightGray h-screen">
    <div class="absolute top-0 z-10 rotate-180">
      <WaveLottie client:only />
    </div>
    <div
      class="w-100 h-100 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 scale-150"
    >
      <EnsoLottie client:only />
    </div>
    <div class="absolute bottom-0 z-10">
      <WaveLottie client:only />
    </div>
  </div>
</Layout>

<style></style>
