---
import WaveLottie from '../components/WaveLottie';
---

<div class='absolute top-0 w-full rotate-180'>
  <WaveLottie client:idle />
</div>
<div class='absolute bottom-0 w-full'>
  <WaveLottie client:idle />
</div>

<style></style>
