---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Loading from "../components/Loading.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body class="animate-overflowHidden relative">
    <!-- <div
      class="animate-fadeOut absolute -top-4 z-10 h-screen w-screen bg-darkGray"
    >
      <Loading />
    </div> -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  :root {
    --regular: 400;
    --bold: 700;
    --light: 300;
    --medium: 500;
    --semiBold: 600;
    --extraBold: 800;
  }

  html {
    font-family: "Lato", "Montserrat", system-ui, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  p {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: var(--light);
    line-height: 1.75;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .wrapper {
    padding: 1.25rem;
    margin: 0 auto;
  }

  @media (min-width: 640px) {
    p {
      font-size: 1.125rem;
      font-weight: var(--regular);
      line-height: 1.78;
    }
  }

  @media (min-width: 900px) {
    .wrapper {
      // max-width: 800px;
      // padding: 0;
    }
  }
</style>
