---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MobileMenu from "../components/MobileMenu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body class="bg-lightGray">
    <MobileMenu />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  :root {
    --regular: 400;
    --bold: 700;
    --light: 300;
    --medium: 500;
    --semiBold: 600;
    --extraBold: 800;
  }

  html {
    font-family: "Lato", "Montserrat", system-ui, sans-serif;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  p {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: var(--light);
    line-height: 1.75;
    margin-bottom: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .wrapper {
    padding: 1.25rem;
    margin: 0 auto;
    max-width: 768px;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.125rem;
      font-weight: var(--regular);
      line-height: 1.78;
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<script>
  function handleLogoFadeIn() {
    document.addEventListener("DOMContentLoaded", () => {
      const logo = document.getElementById("logoHeader");
      const lottieContainer = document.getElementById("lottie-container");

      if (logo && lottieContainer) {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (!entry.isIntersecting) {
                // If the Lottie container is out of view, remove hidden class and fade in the logo
                logo.classList.remove("hidden");
                logo.classList.add("opacity-100");
              } else {
                // If the Lottie container is visible, hide the logo
                logo.classList.remove("opacity-100");
              }
            });
          },
          {
            root: null, // Observing relative to the viewport
            threshold: 0, // Trigger when any part of the Lottie container leaves the viewport
          },
        );

        observer.observe(lottieContainer);
      }
    });
  }

  handleLogoFadeIn();
</script>
