---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800"
    />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --regular: 400;
    --bold: 700;
    --light: 300;
    --medium: 500;
    --semiBold: 600;
    --extraBold: 800;
  }

  html {
    font-family: system-ui, sans-serif;
  }
</style>
